POSTGRES_PASSWORD=
METH_SECRET=
METH_MOD_USERNAME=
METH_MOD_PASSWORD=
COMPOSE_PROFILES=proxy
METH_DOMAIN=meth.example
METH_POSTER_ID_SECRET=
METH_ENV=production
METH_TRUSTED_PROXY=1
METH_LOG_LEVEL=info
METH_PORT=3000
METH_DB_PORT=5434
